@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');
@media (max-width: 480px) and (max-height: 853px) {
  #div_jumbotron {
    background-size: 99vw, 94vw 35vh, 97vw;
  }
  #shop_online_txt {
    font-size: 27px;
    line-height: 25px;
  }
  #shop_online_div {
    margin-left: 40px;
    margin-top: 54px;
  }
  #img_logo {
    width: 199px;
    height: 58px;
  }
  #humburger {
    width: 68px;
    height: 68px;
    right: 23px;
    top: 41px;
  }
  #how_locaholic_works_txt {
    margin-top: 69px;
  }
  #how_locaholic_works_div {
    height: 186px;
  }

  .how-image-txt {
    height: 74px;
    font-size: 14px;
    line-height: 19px;
  }

  #how_locaholic_works_txt {
    font-size: 47px;
  }

  #download-the-locaholic {
    height: 28vh;
  }
  #download-the-locaholic-app {
    margin-left: 36px;
  }
  #download-the-locaholic-app-txt {
    font-size: 25px;
  }
  #available-on-div {
    margin-top: -235px;
    margin-left: 79px;
  }
  #brand-logo {
    margin-left: 31px;
    margin-top: -205px;
  }
  .img_download {
    height: 19px;
  }
  #locaholic-icon {
    width: 46px;
  }
  #locaholi-online-from-txt {
    margin-top: 65px;
    margin-left: 27px;
    font-size: 21px;
  }
  #download-locaholic-now {
    margin-top: 3vh;
    font-size: 15px;
    margin-left: 19vw;
  }
  #modal {
    height: 211px;
  }
  #available-on-txt {
    font-size: 16px;
  }
  #footer {
    height: 57px;
    font-size: 38%;
    line-height: 2vh;
  }
}
@media (max-width: 428px) and (max-height: 926px) {
  .mobile-view {
    display: block;
  }
  /* #img_logo {
    display: none;
  } */
  #img_logo_mobile {
    position: absolute;
    background-image: url('https://al-amin1991.github.io/locaholic/img/locaholic_logo_mobile.png');
    height: 300px;
    width: 400px;
  }
  #img_logo {
    width: 168px;
    height: 33px;
    left: 22px;
    top: 26px;
  }

  #shop_online_txt {
    font-size: 24px;
    line-height: 23px;
  }

  #div_jumbotron {
    margin-top: 14vh;
  }
  #shop_online_div {
    margin-left: 24px;
    margin-top: 36px;
  }
  #div_jumbotron {
    height: 28vh;
    margin-top: 12vh;
    /* background-size: 99vw, 95vw, 98vw; */
  }
  #div_locaholic_nav {
    height: 0px;
  }
  #how_locaholic_works_txt {
    font-size: 32px;
    line-height: 93%;
  }

  #how_locaholic_works_div {
    height: 13vh;
  }
  .how-image-txt {
    height: 75px;
    font-size: 12px;
    line-height: 14px;
  }

  #download-the-locaholic {
    height: 168px;
    background-size: 182px;
  }
  #download-the-locaholic-app-txt {
    font-size: 24px;
    line-height: 103.5%;
  }
  #download-the-locaholic-app {
    margin-left: 26px;
    margin-top: 32px;
  }
  .img_download {
    height: 17px;
  }
  #brand-logo {
    margin-left: 21px;
    margin-top: -228px;
  }
  #available-on-txt {
    font-size: 12px;
    line-height: 21px;
  }
  #available-on-div {
    margin-top: -244px;
    margin-left: 77px;
  }
  #circle-close {
    width: 42px;
    height: 42px;
  }
  #locaholic-icon {
    margin-left: 21px;
    margin-top: 36px;
    height: 46px;
    width: 46px;
  }
  #locaholi-online-from-txt {
    margin-top: 45px;
    margin-left: 19px;

    font-size: 17px;
  }
  #download-locaholic-now {
    margin-left: 72px;
    padding: 12px 37px;
    font-size: 15px;
    margin-top: 2.5vh;
  }
  #modal {
    height: 168px;
  }
  #img_logo {
    width: 128px;
    height: 41px;
  }
  #humburger {
    width: 55px;
    height: 55px;
    right: 21px;
    top: 39px;
  }
  #shop_online_div {
    margin-left: 29px;
    margin-top: 41px;
  }
  #div_jumbotron {
    background-size: 99vw, 103vw 29vh, 100vw;
    height: 259px;
  }
  #shop_online_txt {
    font-size: 23px;
    line-height: 24px;
  }
  #humburger {
    width: 48px;
    height: 48px;
    right: 19px;
    top: 21px;
  }
}
@media (max-width: 425px) and (max-height: 760px) {
  .mobile-view {
    display: block;
  }
  /* #img_logo {
    display: none;
  } */
  #img_logo_mobile {
    position: absolute;
    background-image: url('https://al-amin1991.github.io/locaholic/img/locaholic_logo_mobile.png');
    height: 300px;
    width: 400px;
  }
  #img_logo {
    width: 168px;
    height: 33px;
    left: 22px;
    top: 26px;
  }

  #shop_online_txt {
    font-size: 24px;
    line-height: 23px;
  }

  #div_jumbotron {
    margin-top: 14vh;
  }
  #shop_online_div {
    margin-left: 24px;
    margin-top: 36px;
  }
  #div_jumbotron {
    height: 28vh;
    margin-top: 12vh;
    /* background-size: 99vw, 95vw, 98vw; */
  }
  #div_locaholic_nav {
    height: 0px;
  }
  #how_locaholic_works_txt {
    font-size: 32px;
    line-height: 93%;
  }

  #how_locaholic_works_div {
    height: 17vh;
  }
  .how-image-txt {
    height: 75px;
    font-size: 12px;
    line-height: 14px;
  }

  #download-the-locaholic {
    height: 168px;
    background-size: 182px;
  }
  #download-the-locaholic-app-txt {
    font-size: 24px;
    line-height: 103.5%;
  }
  #download-the-locaholic-app {
    margin-left: 26px;
    margin-top: 32px;
  }
  .img_download {
    height: 17px;
  }
  #brand-logo {
    margin-left: 21px;
    margin-top: -228px;
  }
  #available-on-txt {
    font-size: 12px;
    line-height: 21px;
  }
  #available-on-div {
    margin-top: -244px;
    margin-left: 77px;
  }
  #circle-close {
    width: 42px;
    height: 42px;
  }
  #locaholic-icon {
    margin-left: 21px;
    margin-top: 36px;
    height: 46px;
    width: 46px;
  }
  #locaholi-online-from-txt {
    margin-top: 45px;
    margin-left: 19px;

    font-size: 17px;
  }
  #download-locaholic-now {
    margin-left: 72px;
    padding: 12px 37px;
    font-size: 15px;
    margin-top: 2.5vh;
  }
  #modal {
    height: 168px;
  }
  #img_logo {
    width: 128px;
    height: 41px;
  }
  #humburger {
    width: 55px;
    height: 55px;
    right: 21px;
    top: 39px;
  }
  #shop_online_div {
    margin-left: 43px;
    margin-top: 41px;
  }
  #div_jumbotron {
    height: 30vh;
    background-size: 100vw, 95vw, 98vw;
  }
  #shop_online_txt {
    font-size: 23px;
    line-height: 24px;
  }
  #humburger {
    width: 48px;
    height: 48px;
    right: 19px;
    top: 21px;
  }
}
@media (max-width: 414px) and (max-height: 736px) {
}
@media (max-width: 414px) and (max-height: 736px) {
  #shop_online_txt {
    font-size: 21px;
    line-height: 21px;
  }
  #shop_online_div {
    margin-left: 26px;
    margin-top: 31px;
  }

  #how_locaholic_works_div {
    height: 22vh;
  }

  #download-the-locaholic {
    height: 195px;
    background-size: 202px;
  }
  #download-the-locaholic-app-txt {
    font-size: 22px;
  }
  #download-the-locaholic-app {
    margin-left: 34px;
    margin-top: 46px;
  }
}
@media (max-width: 412px) and (max-height: 869px) {
  #div_jumbotron {
    background-size: 99vw, 103vw 29vh, 96vw;
    height: 245px;
  }
  #how_locaholic_works_div {
    height: 17vh;
    margin-top: -25px;
  }

  #download-the-locaholic {
    height: 192px;
    background-size: 200px;
  }
  #download-the-locaholic-app-txt {
    font-size: 20px;
  }
  #download-the-locaholic-app {
    margin-left: 32px;
    margin-top: 45px;
  }
  #available-on-div {
    margin-left: 67px;
  }
  .img_download {
    height: 15px;
  }
}
@media (max-width: 412px) and (max-height: 847px) {
}
@media (max-width: 412px) and (max-height: 824px) {
}
@media (max-width: 412px) and (max-height: 732px) {
  #div_jumbotron {
    background-size: 99vw, 92vw 29vh, 96vw;
    height: 218px;
  }
  #how_locaholic_works_div {
    height: 21vh;
  }
}
@media (max-width: 375px) and (max-height: 812px) {
  #div_jumbotron {
    background-size: 99vw, 103vw 30vh, 96vw;
    height: 231px;
  }
  #shop_online_div {
    margin-left: 29px;
    margin-top: 46px;
  }
  #shop_online_txt {
    font-size: 19px;
    line-height: 19px;
  }
  #how_locaholic_works_div {
    height: 21vh;
  }

  #download-the-locaholic {
    height: 176px;
  }
  #download-the-locaholic-app-txt {
    font-size: 21px;
  }
  #download-the-locaholic-app {
    margin-left: 32px;
    margin-top: 37px;
  }
  .img_download {
    height: 15px;
  }
  #brand-logo {
    margin-left: 29px;
  }
}

@media (max-width: 375px) and (max-height: 760px) {
  .mobile-view {
    display: block;
  }
  /* #img_logo {
    display: none;
  } */
  #img_logo_mobile {
    position: absolute;
    background-image: url('https://al-amin1991.github.io/locaholic/img/locaholic_logo_mobile.png');
    height: 300px;
    width: 400px;
  }
  #img_logo {
    width: 168px;
    height: 33px;
    left: 22px;
    top: 26px;
  }

  #shop_online_txt {
    font-size: 24px;
    line-height: 23px;
  }

  #div_jumbotron {
    margin-top: 14vh;
  }
  #shop_online_div {
    margin-left: 24px;
    margin-top: 36px;
  }
  #div_jumbotron {
    height: 28vh;
    margin-top: 12vh;
    /* background-size: 99vw, 95vw, 98vw; */
  }
  #div_locaholic_nav {
    height: 0px;
  }
  #how_locaholic_works_txt {
    font-size: 32px;
    line-height: 93%;
  }

  #how_locaholic_works_div {
    height: 17vh;
  }
  .how-image-txt {
    height: 75px;
    font-size: 12px;
    line-height: 14px;
  }

  #download-the-locaholic {
    height: 168px;
    background-size: 182px;
  }
  #download-the-locaholic-app-txt {
    font-size: 24px;
    line-height: 103.5%;
  }
  #download-the-locaholic-app {
    margin-left: 26px;
    margin-top: 32px;
  }
  .img_download {
    height: 17px;
  }
  #brand-logo {
    margin-left: 21px;
    margin-top: -228px;
  }
  #available-on-txt {
    font-size: 12px;
    line-height: 21px;
  }
  #available-on-div {
    margin-top: -244px;
    margin-left: 77px;
  }
  #circle-close {
    width: 42px;
    height: 42px;
  }
  #locaholic-icon {
    margin-left: 21px;
    margin-top: 36px;
    height: 46px;
    width: 46px;
  }
  #locaholi-online-from-txt {
    margin-top: 45px;
    margin-left: 19px;

    font-size: 17px;
  }
  #download-locaholic-now {
    margin-left: 72px;
    padding: 12px 37px;
    font-size: 15px;
    margin-top: 2.5vh;
  }
  #modal {
    height: 168px;
  }
  #img_logo {
    width: 128px;
    height: 41px;
  }
  #humburger {
    width: 55px;
    height: 55px;
    right: 21px;
    top: 39px;
  }
  #shop_online_div {
    margin-left: 31px;
    margin-top: 41px;
  }
  #div_jumbotron {
    height: 30vh;
    background-size: 100vw, 95vw, 98vw;
  }
  #shop_online_txt {
    font-size: 23px;
    line-height: 24px;
  }
  #humburger {
    width: 48px;
    height: 48px;
    right: 19px;
    top: 21px;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  #shop_online_txt {
    font-size: 20px;
    line-height: 21px;
  }
  #shop_online_div {
    margin-left: 27px;
    margin-top: 29px;
  }
  #how_locaholic_works_div {
    height: 24vh;
  }

  #download-the-locaholic {
    height: 172px;
  }
  #download-the-locaholic-app-txt {
    font-size: 19px;
    line-height: 100.5%;
  }
  #download-the-locaholic-app {
    margin-left: 36px;
  }
  #available-on-div {
    margin-top: -244px;
    margin-left: 69px;
  }
  .img_download {
    height: 15px;
  }
}
@media (max-width: 360px) and (max-height: 760px) {
  .mobile-view {
    display: block;
  }
  /* #img_logo {
    display: none;
  } */
  #img_logo_mobile {
    position: absolute;
    background-image: url('https://al-amin1991.github.io/locaholic/img/locaholic_logo_mobile.png');
    height: 300px;
    width: 400px;
  }
  #img_logo {
    width: 168px;
    height: 33px;
    left: 22px;
    top: 26px;
  }
  #humburger {
    width: 48px;
    height: 48px;
    right: 19px;
    top: 21px;
  }
  #shop_online_txt {
    font-size: 24px;
    line-height: 23px;
  }

  #div_jumbotron {
    margin-top: 14vh;
  }
  #shop_online_div {
    margin-left: 24px;
    margin-top: 36px;
  }
  #div_jumbotron {
    height: 28vh;
    margin-top: 12vh;
    /* background-size: 99vw, 95vw, 98vw; */
  }
  #div_locaholic_nav {
    height: 0px;
  }
  #how_locaholic_works_txt {
    font-size: 32px;
    line-height: 93%;
  }

  #how_locaholic_works_div {
    height: 17vh;
  }
  .how-image-txt {
    height: 75px;
    font-size: 12px;
    line-height: 14px;
  }

  #download-the-locaholic {
    height: 168px;
    background-size: 182px;
  }
  #download-the-locaholic-app-txt {
    font-size: 24px;
    line-height: 103.5%;
  }
  #download-the-locaholic-app {
    margin-left: 26px;
    margin-top: 32px;
  }
  .img_download {
    height: 17px;
  }
  #brand-logo {
    margin-left: 21px;
    margin-top: -228px;
  }
  #available-on-txt {
    font-size: 12px;
    line-height: 21px;
  }
  #available-on-div {
    margin-top: -244px;
    margin-left: 77px;
  }
  #circle-close {
    width: 42px;
    height: 42px;
  }
  #locaholic-icon {
    margin-left: 21px;
    margin-top: 36px;
    height: 46px;
    width: 46px;
  }
  #locaholi-online-from-txt {
    margin-top: 45px;
    margin-left: 19px;

    font-size: 17px;
  }
  #download-locaholic-now {
    margin-left: 72px;
    padding: 12px 37px;
    font-size: 15px;
    margin-top: 2.5vh;
  }
  #modal {
    height: 168px;
  }
}
@media (max-width: 360px) and (max-height: 740px) {
  #div_jumbotron {
    height: 26vh;
    background-size: 100vw, 90vw, 96vw;
  }
  #shop_online_txt {
    font-size: 20px;
    line-height: 20px;
  }
  #locaholi-online-from-txt {
    font-size: 15px;
  }
  #circle-close {
    width: 30px;
    height: 30px;
  }
  #download-locaholic-now {
    padding: 8px 26px;
    font-size: 14px;
  }
  #shop_online_div {
    margin-top: 31px;
  }

  .how-image-txt {
    font-size: 10px;
  }

  #how_locaholic_works_div {
    margin-top: -30px;
    height: 20vh;
  }

  #download-the-locaholic {
    background-size: 173px;
  }
  #download-the-locaholic-app-txt {
    font-size: 19px;
  }
  #available-on-div {
    margin-left: 58px;
  }
  #brand-logo {
    margin-left: 18px;
  }
  .img_download {
    height: 14px;
  }
}
@media (max-width: 360px) and (max-height: 640px) {
  #div_jumbotron {
    height: 30vh;
    background-size: 100vw, 89vw, 98vw;
  }
  #shop_online_txt {
    font-size: 18px;
    line-height: 17px;
  }
  #shop_online_div {
    margin-left: 33px;
  }
  #how_locaholic_works_div {
    height: 27vh;
  }

  #locaholi-online-from-txt {
    font-size: 15px;
  }
  #circle-close {
    width: 32px;
    height: 32px;
  }
  #download-locaholic-now {
    font-size: 12px;
  }

  .how-image-txt {
    font-size: 10px;
  }

  #download-the-locaholic {
    background-size: 173px;
  }
  #download-the-locaholic-app-txt {
    font-size: 18px;
  }
  #download-the-locaholic-app {
    margin-left: 26px;
    margin-top: 38px;
  }
  #available-on-txt {
    font-size: 10px;
  }
  #available-on-div {
    margin-top: -252px;
    margin-left: 60px;
  }
  .img_download {
    height: 13px;
  }
  #brand-logo {
    margin-left: 19px;
    margin-top: -241px;
  }
}
@media (max-width: 320px) and (max-height: 760px) {
  #shop_online_txt {
    font-size: 20px;
    line-height: 21px;
  }

  .how-image-txt {
    font-size: 9px;
    height: 58px;
  }

  #download-the-locaholic {
    height: 168px;
    background-size: 160px;
  }
  #download-the-locaholic-app {
    margin-top: 38px;
  }
  #available-on-div {
    margin-left: 61px;
  }
  .img_download {
    height: 14px;
  }
  #download-the-locaholic-app-txt {
    font-size: 20px;
  }
  #step-1-img {
    margin-left: -22vw;
  }
  #img_logo {
    width: 92px;
    height: 26px;
    top: 31px;
  }
  #humburger {
    width: 32px;
    height: 32px;
    right: 25px;
    top: 29px;
  }
  #div_jumbotron {
    height: 23.5vh;
    background-size: 100vw, 95vw, 95vw;
  }
  #shop_online_txt {
    font-size: 17px;
    line-height: 17px;
  }
  #how_locaholic_works_txt {
    font-size: 24px;
  }
  #how_locaholic_works_div {
    height: 17vh;
    margin-top: -41px;
  }

  .how-image-txt {
    font-size: 7px;
  }

  #download-the-locaholic {
    height: 154px;
    background-size: 152px;
  }
  #download-the-locaholic-app-txt {
    font-size: 15px;
  }
  #download-the-locaholic-app {
    margin-left: 42px;
  }
  #available-on-txt {
    font-size: 9px;
  }
  #available-on-div {
    margin-left: 70px;
  }
  #brand-logo {
    margin-left: 34px;
    margin-top: -252px;
  }
  .img_download {
    height: 11px;
  }
  #available-on-div {
    margin-left: 68px;
    margin-top: -264px;
  }
  #locaholi-online-from-txt {
    font-size: 13px;
  }
  #download-locaholic-now {
    margin-left: 72px;
    padding: 6px 32px;
    font-size: 11px;
    margin-top: 2.5vh;
  }
  #modal {
    height: 158px;
  }
  #circle-close {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 320px) and (max-height: 568px) {
  #div_jumbotron {
    height: 32vh;
  }
  #shop_online_txt {
    font-size: 18px;
    line-height: 18px;
  }
  #shop_online_div {
    margin-left: 16px;
  }

  #how_locaholic_works_div {
    height: 28vh;
  }

  #download-the-locaholic-app {
    margin-top: 45px;
    margin-left: 27px;
  }
  #available-on-txt {
    font-size: 10px;
  }
  #available-on-div {
    margin-left: 58px;
    margin-top: -252px;
  }

  .img_download {
    height: 12px;
  }
  #brand-logo {
    margin-top: -241px;
  }
  #humburger {
    top: 8px;
  }
  #img_logo {
    width: 126px;
    left: 8px;
    top: 12px;
  }
  #circle-close {
    width: 32px;
    height: 32px;
    top: 8px;
  }
  #locaholi-online-from-txt {
    font-size: 14px;
  }
  #download-locaholic-now {
    margin-left: 69px;
    padding: 5px 30px;
    font-size: 12px;
  }
  #modal {
    height: 138px;
  }
  #download-the-locaholic-app-txt {
    font-size: 15px;
  }
  #available-on-div {
    margin-left: 52px;
    margin-top: -265px;
  }
  .img_download {
    height: 11px;
  }

  #brand-logo {
    margin-left: 20px;
    margin-top: -252px;
  }
}
