@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');

@media (max-width: 360px) and (max-height: 760px) {
  .mobile-view {
    display: block;
  }
  #img_logo {
    display: none;
  }
  #img_logo_mobile {
    background-image: url('https://al-amin1991.github.io/locaholic/img/locaholic_logo_mobile.png');
  }
}
