@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');

@media (max-width: 1025px) {
  .mobile-view {
    display: none;
  }
  .r-how-to-use-download {
    display: none;
  }
  #img_logo {
    position: absolute;
    width: 292px;
    height: 57px;
    left: 53px;
    top: 44px;
  }
  #div_locaholic_nav {
    position: absolute;
    height: 135px;
    top: 0px;

    background: #ffffff;
  }
  #div_jumbotron {
    height: 432px;
    margin-top: 135px;
    background-color: white;
    background-image: url('https://al-amin1991.github.io/locaholic/img/third_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/second_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/first_part_bg_tablet.png');
    background-position: left bottom, right bottom, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
  #shop_online_txt {
    font-size: 38px;
    line-height: 36px;
  }
  #shop_online_div {
    margin-left: 73px;
    margin-top: 77px;
    height: 143px;
    font-style: normal;
    font-weight: normal;
  }
  .tablet-br {
    display: block;
  }
  .desktop-br {
    display: none;
  }
  #humburger {
    display: block;
    position: absolute;
    width: 84px;
    height: 84px;
    right: 57px;
    top: 29px;
  }
  #how_locaholic_works_txt {
    font-size: 55px;
    line-height: 93%;

    margin-top: 45px;
    height: 1px;
  }
  .step-1-img {
    width: 357px;
  }
  .step-1txt {
    margin-left: -21px;
  }

  .step-2txt {
    margin-left: -9px;
  }
  #step-3-img {
    width: 241px;
    margin-left: 30%;
  }
  #step-3txt {
    margin-left: 82px;
  }
  #step-4-img {
    width: 356px;
    margin-left: 58px;
  }
  .how-image-txt {
    height: 118px;
    font-size: 24px;
    line-height: 28px;
  }
  #how_locaholic_works_div {
    height: 182px;
  }
  #download-the-locaholic {
    height: 363px;
    background-size: 385px;
  }
  #download-the-locaholic-app-txt {
    font-size: 37px;
    line-height: 103.5%;
  }
  #download-the-locaholic-app {
    margin-left: 82px;
    margin-top: 71px;
  }
  #footer {
    height: 57px;
    font-size: 14px;
    line-height: 16px;
  }
  .all_rights_reserved {
    padding-top: 17px;
  }
  #available-on-div {
    margin-top: -162px;
    margin-left: 176px;
  }
  #available-on-txt {
    font-size: 24px;
    line-height: 42px;
  }
  .img_download {
    height: 33px;
  }
  #brand-logo {
    margin-left: 67px;
    margin-top: -124px;
  }
  .tablet {
    display: block;
  }
  #modal {
    display: none;
    height: 287px;
    background-color: #84d447;
  }
  #circle-close {
    position: absolute;
    width: 73px;
    height: 74px;
    right: 21px;
    top: 26px;
    z-index: 9;
  }
  #locaholic-icon {
    margin-left: 45px;
    margin-top: 62px;
  }
  #locaholi-online-from-txt {
    margin-top: 66px;
    margin-left: 20px;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 93%;
    /* or 37px */

    text-transform: capitalize;

    color: #ffffff;
  }
  #download-locaholic-now {
    background-color: #ffffff;
    color: #f8af08;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93%;

    padding: 12px 57px;
    text-align: center;
    margin-left: 119px;

    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 0px solid #000000;
  }
  #step-1-img,
  #step-2-img,
  #step-3-img,
  #step-4-img {
    margin-bottom: -14px;
  }
  #step-2-img {
    width: 241px;
    height: 203px;
    margin-left: 11vw;
  }
  #step-1-img {
    width: 355px;
    height: 203px;
    margin-left: 3vw;
  }
  #div_jumbotron {
    /* height: 77vh; */
    background-image: url('https://al-amin1991.github.io/locaholic/img/third_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/second_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/first_part_bg_tablet.png');
    background-position: left bottom, right bottom, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 99vw, 49vw, 107vw;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #div_jumbotron {
    height: 92vh;
    background-size: 99vw, 95vw, 99vw;
  }
  #shop_online_div {
    margin-top: 98px;
  }
  #shop_online_txt {
    font-size: 57px;
    line-height: 56px;
  }
  #download-locaholic-now {
    margin-left: 143px;
    padding: 12px 73px;
    font-size: 39px;
    margin-top: 4vh;
  }
  #how_locaholic_works_div {
    height: 51vh;
  }
  #step-2-txt-div,
  #step-3-txt-div {
    margin-top: 0px;
    height: 118px;
  }
  #step-1-txt-div {
    z-index: 1;
  }
  #step-1-img {
    margin-left: -6vw;
  }
  #step-2-img {
    margin-left: 2vw;
  }
  #step-3-img {
    margin-left: 0vw;
  }
  #step-4-img {
    margin-left: -2vw;
  }
  .step-2txt {
    margin-left: 27px;
  }
  .z-index-1 {
    z-index: 1;
  }
  .how-image-txt {
    font-size: 19px;
  }
  #step-3txt {
    margin-left: -11px;
  }
  #step-3-txt-div,
  #step-4-txt-div {
    margin-top: 1px;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #div_jumbotron {
    height: 102vh;
    background-size: 99vw, 95vw, 98vw;
  }
  #shop_online_div {
    margin-left: 63px;
  }
  #shop_online_txt {
    font-size: 46px;
    line-height: 45px;
  }
  #step-1-img {
    margin-left: 1vw;
  }
  #step-2-img {
    margin-left: 11vw;
  }
  #step-3-img {
    margin-left: 16vw;
  }
  #step-3txt {
    margin-left: 103px;
  }
  #step-4-img {
    margin-left: 11vw;
  }
  #step-4-txt {
    margin-left: 78px;
  }
}

@media (max-width: 800px) and (max-height: 600px) {
  #step-4-txt-div {
    margin-top: 0px;
  }
  #step-4-img {
    margin-top: -5px;
  }
}
@media (max-width: 768px) and (max-height: 760px) {
  #div_jumbotron {
    height: 64vh;
    background-size: 99vw, 101vw, 98vw;
  }
  #how_locaholic_works_div {
    height: 26vh;
  }
  .step-2txt {
    margin-left: -9px;
  }
  #step-4-img {
    margin-top: -6px;
  }
  #available-on-div {
    margin-left: 142px;
  }
}
