@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800;900&display=swap');

@media (max-width: 1025px) {
  .mobile-view {
    display: none;
  }
  .r-how-to-use-download {
    display: none;
  }
  #img_logo {
    position: absolute;
    width: 292px;
    height: 57px;
    left: 53px;
    top: 44px;
  }
 
  #div_locaholic_nav {
    position: absolute;
    height: 135px;
    top: 0px;

    background: #ffffff;
  }
  #div_jumbotron {
    height: 432px;
    margin-top: 135px;
    background-color: white;
    /* background-image: url('https://al-amin1991.github.io/locaholic/img/third_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/second_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/first_part_bg_tablet.png'); */
    background-image: url('https://al-amin1991.github.io/locaholic/img/landing_bg_tablet.png');
    /* background-position: left bottom, right bottom, right top;
    background-repeat: no-repeat, no-repeat, no-repeat; */
  }
  #shop_online_txt {
    font-size: 38px;
    line-height: 36px;
  }
  #shop_online_div {
    margin-left: 73px;
    margin-top: 77px;
    height: 143px;
    font-style: normal;
    font-weight: normal;
  }
  .tablet-br {
    display: block;
  }
  .desktop-br {
    display: none;
  }
  #humburger {
    display: block;
    position: absolute;
    width: 84px;
    height: 84px;
    right: 57px;
    top: 29px;
  }
  #how_locaholic_works_txt {
    font-size: 55px;
    line-height: 93%;

    margin-top: 45px;
    height: 1px;
  }

  #how_locaholic_works_div {
    height: 182px;
  }
  #download-the-locaholic {
    height: 363px;
    background-size: 385px;
  }
  #download-the-locaholic-app-txt {
    font-size: 37px;
    line-height: 103.5%;
  }
  #download-the-locaholic-app {
    margin-left: 82px;
    margin-top: 71px;
  }
  #footer {
    height: 8vh;
    font-size: 62.5%;
    line-height: 2vh;
  }
  .all_rights_reserved {
    padding-top: 17px;
  }
  #available-on-div {
    margin-top: -162px;
    margin-left: 176px;
  }
  #available-on-txt {
    font-size: 24px;
    line-height: 42px;
  }
  .img_download {
    height: 33px;
  }
  #brand-logo {
    margin-left: 67px;
    margin-top: -124px;
  }
  .tablet {
    display: block;
  }
  #modal {
    display: none;
    height: 13vh;
    background-color: #fff;
    color: #f8af08;
  }
  .tablet-nav a {
    color: #f8af08;
    font-weight: 500;
  }
  .tablet-nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 167%;
    font-size: 115%;
    font-weight: 600;
    color: #f8af08;
    margin-top: 12vh;
}

  #circle-close {
    position: absolute;
    width: 73px;
    height: 74px;
    right: 21px;
    top: 26px;
    z-index: 9;
  }
  #locaholic-icon {
    margin-left: 45px;
    margin-top: 62px;
  }
  #locaholi-online-from-txt {
    margin-top: 66px;
    margin-left: 20px;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 93%;
    /* or 37px */

    text-transform: capitalize;

    color: #ffffff;
  }
  #download-locaholic-now {
    background-color: #ffffff;
    color: #f8af08;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 93%;

    padding: 12px 57px;
    text-align: center;
    margin-left: 119px;

    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 0px solid #000000;
  }

  #div_jumbotron {
    /* height: 77vh; */
    background-image: url('https://al-amin1991.github.io/locaholic/img/third_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/second_part_bg_tablet.png'),
      url('https://al-amin1991.github.io/locaholic/img/first_part_bg_tablet.png');

    background-position: left bottom, right bottom, right top;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 99vw, 49vw, 107vw;
  }

  #step-1-img,
  #step-2-img,
  #step-3-img,
  #step-4-img {
    margin-bottom: -0.5vh;
    height: 12vw;
  }
  #step-1-img {
    width: 17vw;
  }
  #step-2-img,
  #step-3-img,
  #step-3-img {
    width: 14vw;
  }
}

@media (max-width: 1024px) and (max-height: 1366px) {
  #div_jumbotron {
    background-size: 99vw, 96vw, 99vw;
    height: 42vh;
  }
  #shop_online_txt {
    font-size: 58px;
    line-height: 58px;
  }
  #shop_online_div {
    margin-top: 7vh;
  }

  #how_locaholic_works_div {
    height: 272px;
  }
  #how_locaholic_works_txt {
    margin-top: 69px;
  }
  #download-the-locaholic {
    height: 37vh;
    background-size: 513px;
  }
  #download-the-locaholic-app-txt {
    font-size: 55px;
  }
  #download-the-locaholic-app {
    margin-top: 113px;
  }
  #available-on-txt {
    font-size: 31px;
  }
  .img_download {
    height: 47px;
  }
  #available-on-div {
    margin-top: -113px;
    margin-left: 183px;
  }
  #brand-logo {
    margin-top: -69px;
  }
  #about-locaholic-div {
    width: 74%;
    margin-top: 17vh;
  }
  #div-jumbotron-about {
    background:none;
  }
  .about-locaholic-p {
    font-size: 182%;
    line-height: 109%;
  }
  .about-locaholic {
    font-size: 437%;
  }
  .footer-about {
    margin-top: 16vh;
  }
  #div-jumbotron-about {
  height: 76vh;
  }
}
@media (max-width: 1024px) and (max-height: 768px) {
  #div_jumbotron {
    height: 92vh;
    background-size: 99vw, 95vw, 99vw;
  }
  #shop_online_div {
    margin-top: 98px;
  }
  #shop_online_txt {
    font-size: 57px;
    line-height: 56px;
  }
  #download-locaholic-now {
    margin-left: 143px;
    padding: 12px 73px;
    font-size: 39px;
    margin-top: 4vh;
  }
  #how_locaholic_works_div {
    height: 51vh;
  }

  #step-1-txt-div {
    z-index: 1;
  }
  .z-index-1 {
    z-index: 1;
  }
  .how-image-txt {
    font-size: 19px;
  }
  #about-locaholic-div {
    margin-top: 29vh;
  }
  #div-jumbotron-about {
    height: 140vh;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  #div_jumbotron {
    height: 102vh;
    background-size: 99vw, 95vw, 98vw;
  }
  #shop_online_div {
    margin-left: 63px;
  }
  #shop_online_txt {
    font-size: 46px;
    line-height: 45px;
  }
}
@media (max-width: 1001px) and (max-height: 1024px) {
  #div-jumbotron-about {
    height: 100vh;
  }

  #available-on-div {
    margin-left: 142px;
  }
}
@media (max-width: 1001px) and (max-height: 591px) {
  #div_jumbotron {
    height: 102vh;
    background-size: 99vw, 98vw 107vh, 98vw;
  }
}
@media (max-width: 991px) and (max-height: 790px) {
  .how-image-txt {
    font-size: 1.7vw;
    line-height: 2.5vw;
  }
  #step-1-img {
    width: 23vw;
  }
  #step-2-img,
  #step-3-img,
  #step-3-img {
    width: 22vw;
  }
  #step-1-img,
  #step-2-img,
  #step-3-img,
  #step-4-img {
    margin-bottom: -0.5vh;
    height: 18vw;
  }

  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  .main-extra-div {
    display: none;
  }
 
  #div-jumbotron-about {
    height: 140vh;
}
#about-locaholic-div {
  margin-top: 29vh;
}
}
@media (max-width: 900px) and (max-height: 1280px) {
  .how-image-txt {
    font-size: 1.7vw;
    line-height: 2.5vw;
  }
  #step-1-img {
    width: 23vw;
  }
  #step-2-img,
  #step-3-img,
  #step-3-img {
    width: 22vw;
  }
  #step-1-img,
  #step-2-img,
  #step-3-img,
  #step-4-img {
    margin-bottom: -0.5vh;
    height: 18vw;
  }

  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  .main-extra-div {
    display: none;
  }
  #shop_online_txt {
    font-size: 51px;
    line-height: 49px;
  }
  #shop_online_div {
    margin-top: 9vh;
  }
  #div_jumbotron {
    background-size: 99vw, 96vw 43vh, 99vw;
  }
  #download-locaholic-now {
    margin-top: 3vh;
  }

  #download-the-locaholic {
    height: 31vh;
    background-size: 399px;
  }
  #download-the-locaholic-app-txt {
    font-size: 44px;
  }
  #download-the-locaholic-app {
    margin-top: 91px;
  }
  #available-on-txt {
    font-size: 26px;
  }
  #available-on-div {
    margin-top: -165px;
    margin-left: 157px;
  }
  .img_download {
    height: 33px;
  }
  #brand-logo {
    margin-top: -125px;
  }

  #download-the-locaholic {
    height: 34vh;
    background-size: 447px;
  }
  #download-the-locaholic-app {
    margin-left: 104px;
    margin-top: 102px;
  }
  #available-on-div {
    margin-left: 180px;
  }
  #brand-logo {
    margin-left: 95px;
  }
  #div-jumbotron-about {
    height: 84vh;
  }
}
@media (max-width: 800px) and (max-height: 1280px) {
  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  .main-extra-div {
    display: none;
  }
  #shop_online_txt {
    font-size: 49px;
    line-height: 47px;
  }
  #shop_online_div {
    margin-top: 9vh;
    margin-left: 62px;
  }
  #div_jumbotron {
    background-size: 99vw, 96vw 45vh, 99vw;
    height: 42vh;
  }

  #download-the-locaholic {
    height: 31vh;
    background-size: 399px;
  }
  #download-the-locaholic-app-txt {
    font-size: 44px;
  }
  #download-the-locaholic-app {
    margin-top: 91px;
  }
  #available-on-txt {
    font-size: 26px;
  }
  #available-on-div {
    margin-top: -165px;
    margin-left: 157px;
  }
  .img_download {
    height: 33px;
  }
  #brand-logo {
    margin-top: -125px;
    margin-left: 76px;
  }
  #download-the-locaholic-app {
    margin-left: 76px;
  }
  .about-locaholic {
    font-size: 388%;
  }
  #div-jumbotron-about {
    height: 95vh;
  }
}
@media (max-width: 800px) and (max-height: 600px) {
  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  #div_jumbotron {
    height: 92vh;
    background-size: 99vw, 103vw 100vh, 98vw;
  }

  #available-on-div {
    margin-left: 143px;
  }
  #how_locaholic_works_div {
    height: 31vh;
  }
  #div-jumbotron-about {
    height: 295vh;
    background-size: 100vw 265vh;
  }
  #div-jumbotron-about {
    height: 219vh;
}
}

@media (max-width: 768px) and (max-height: 1024px) {
  #step-1-img {
    width: 23vw;
  }
  #step-2-img,
  #step-3-img,
  #step-3-img {
    width: 22vw;
  }
  #step-1-img,
  #step-2-img,
  #step-3-img,
  #step-4-img {
    margin-bottom: -0.5vh;
    height: 18vw;
  }

  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }

  #div_jumbotron {
    background-size: 99vw, 95vw, 98vw;
  }
  #shop_online_txt {
    font-size: 43px;
    line-height: 41px;
  }
  #shop_online_div {
    margin-top: 8vh;
  }
  #download-the-locaholic {
    height: 37vh;
  }

  .main-extra-div {
    display: none;
  }
  #download-the-locaholic-app-txt {
    font-size: 239%;
  }
  #download-the-locaholic-app {
    margin-left: 5vh;
    margin-top: 6vh;
  }
  #available-on-txt {
    font-size: 126%;
  }
  #available-on-div {
    margin-left: 17vw;
  }
  #brand-logo {
    margin-left: 5vw;
  }
  #div-jumbotron-about {
    height: 121vh;
}
}
@media (max-width: 768px) and (max-height: 1000px) {
  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  #div_jumbotron {
    background-size: 99vw, 100vw, 100vw;
  }

  #available-on-div {
    margin-top: -162px;
    margin-left: 143px;
  }
  #download-locaholic-now {
    margin-top: 32px;
  }
}
@media (max-width: 768px) and (max-height: 760px) {
  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  #div_jumbotron {
    height: 64vh;
    background-size: 99vw, 100vw 68vh, 98vw;
  }
  #how_locaholic_works_div {
    height: 26vh;
  }

  #available-on-div {
    margin-left: 142px;
  }
  #div-jumbotron-about {
    height: 171vh;
}
}
@media screen and (max-width: 640px) and (max-height: 1136px) {
  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  #div_jumbotron {
    height: 34vh;
    background-size: 99vw, 94vw 35vh, 98vw;
  }

  .how-image-txt {
    font-size: 16px;
  }

  #download-the-locaholic {
    height: 28vh;
    background-size: 49vw;
  }
  #download-the-locaholic-app-txt {
    font-size: 34px;
  }
  #available-on-txt {
    font-size: 21px;
  }
  #available-on-div {
    margin-top: -204px;
    margin-left: 138px;
  }

  .img_download {
    height: 26px;
  }
  #brand-logo {
    margin-left: 67px;
    margin-top: -166px;
  }
  #shop_online_txt {
    font-size: 40px;
    line-height: 38px;
  }
  #shop_online_div {
    margin-left: 41px;
    margin-top: 80px;
  }
  #img_logo {
    width: 221px;
    left: 31px;
  }
  #circle-close {
    width: 55px;
    height: 55px;
  }
  #locaholi-online-from-txt {
    margin-top: 72px;
    margin-left: 36px;
    font-size: 30px;
  }
  #download-locaholic-now {
    margin-top: 3vh;
    font-size: 27px;
  }
  #how_locaholic_works_div {
    height: 224px;
  }

  #download-the-locaholic-app {
    height: 0px;
    margin-top: 80px;
    margin-left: 62px;
  }
  #available-on-div {
    margin-top: 12vh;
    margin-left: 122px;
  }
  #brand-logo {
    margin-left: 55px;
    margin-top: -6.5vh;
  }
  .how-image-txt {
    height: 10vh;
    line-height: 2vh;
  }
  .main-extra-div {
    display: none;
  }
  #div-jumbotron-about {
    height: 133vh;}
    .about-locaholic {
      font-size: 301%;
  }
}

@media screen and (max-width: 640px) and (max-height: 960px) {
  #step-3-col,
  #step-4-col,
  #step-5-col {
    margin-top: 4vh;
  }
  #shop_online_txt {
    font-size: 34px;
    line-height: 32px;
  }
  #shop_online_div {
    margin-left: 53px;
    margin-top: 59px;
  }
  #download-the-locaholic {
    height: 31vh;
  }
  #download-the-locaholic-app {
    margin-top: 66px;
  }
  #available-on-div {
    margin-top: 14vh;
  }
  #brand-logo {
    margin-top: -7.5vh;
  }
  #div-jumbotron-about {
    height: 148vh;
  }
}
